<head>

    <style type="text/css">
        body {
            background-color: rgb(255, 255, 255);
        }

        h1 {
            padding: 0;
            margin: 0;
        }

        p: {
            padding: 0;
            margin: 0;
        }

        .main-page-div {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 816px;
            height: 1055px;
        }

        .title-square-div {
            width: 144px;
            height: 144px;
            background-color: white;
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            alignment: top;
            justify-content: center;
            align-content: flex-start;
        }

        .daily {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 120%;
            font-size: 24pt;
            align-self: center;
            justify-self: center;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: -10;
            padding-top: 0;
            margin-top: 0px;
            margin-left: 0px;
        }

        .report {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 80%;
            font-size: 24pt;
            align-self: center;
            justify-self: center;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 10px;
        }

        .title-day {
            align-self: center;
            justify-self: flex-start;
            font-size: 16px;
            line-height: 100%;
            font-family: "Poppins";
            font-weight: 300;
            margin-top: 10px;
            padding-top: 0;
            margin-bottom: 0px;
            padding-bottom: 0;
            color: rgb(100, 100, 100);
        }

        .title-date {
            align-self: center;
            justify-self: flex-start;
            font-size: 14px;
            font-family: "Poppins";
            font-weight: 300;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            color: rgb(53, 53, 53);
        }

        .weather-bar-div {
            background-color: rgb(255, 255, 255);
            width: 672px;
            height: 48px;
            position: absolute;
            top: 0px;
            left: 144px;
            display: flex;
            flex-direction: row;
        }

        .weather-data-label {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 10px;
            align-self: left;
            justify-self: left;
            position: absolute
        }

        .weather-data-value {
            font-family: "Poppins";
            font-weight: 300;
            font-size: 16px;
            align-self: left;
            justify-self: left;
            position: absolute
        }

        #weather-string-div {
            background-color: rgba(255, 255, 255, 0);
            position: absolute;
            height: 35px;
            width: 350px;
            top: 14;
            left: 310px;
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            justify-items: center;
            padding: 2px
        }

        #weather-string {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 14px;
            color: darkgray;
            font-style: italic;
            text-align: center;
            text-justify: center;
            align-self: center;
            justify-self: center;
            justify-content: center;
            justify-items: center;
            line-height: 16px
        }

        #quote-string {
            font-family: "Poppins";
            font-weight: 200;
            font-size: 18px;
            font-style: italic;
            text-align: center;
            text-justify: center;
            align-self: center;
            justify-self: center;
            justify-content: center;
            justify-items: center;
            line-height: 18px;
            margin-bottom: 0;
        }

        #author-string {
            font-family: "Poppins";
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            text-justify: center;
            align-self: center;
            justify-self: center;
            justify-content: center;
            justify-items: center;
            line-height: 12px;
            margin-top: 8px
        }



        .quote-bar-div {
            background-color: rgba(255, 255, 255, 0);
            width: 672px;
            height: 96px;
            position: absolute;
            top: 48px;
            left: 144px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: flex-end;
        }

        .lg-box-1-div {
            background-color: rgb(255, 255, 255);
            width: 816px;
            height: 288px;
            position: absolute;
            top: 144px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center
        }

        .lg-twi-div {

            background-color: rgb(255, 255, 255);
            width: 800px;
            height: 240px;
        }

        #twi-title {
            font-family: "Poppins";
            color: #585858;
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            margin-top: 5px;
            margin-left: 15px
        }

        .twi-table {
            border-collapse: collapse;
            border-radius: 15px;
            margin-top: 5px;
            margin-left: 20px;
            font-size: 0.9em;
            font-family: poppins;
            font-weight: 300;
            width: 755px;
            box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.15);
            align-self: center;
            justify-self: center
        }

        .twi-table thead tr {
            background-color: #bdbdbd;
            color: #000000;
            text-align: left;
        }

        .twi-table th,
        .twi-table td {
            padding: 4px 4px;
        }

        . .twi-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .twi-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .twi-table th:first-of-type {
            border-top-left-radius: 10px;
            padding-left: 13px;
        }

        .twi-table th:last-of-type {
            border-top-right-radius: 10px;
        }

        .twi-table tr:last-of-type td:first-of-type {
            border-bottom-left-radius: 10px;
        }

        .twi-table tr:last-of-type td:last-of-type {
            border-bottom-right-radius: 10px;
        }

        .lg-box-2-div {
            background-color: rgb(255, 255, 255);
            width: 816px;
            height: 288px;
            position: absolute;
            top: 432px;
            left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0px
        }

        .lg-news-div {

            background-color: rgb(255, 255, 255);
            width: 750px;
            max-height: 240px;
            margin: 0px;
            margin-top: -25px;
            padding: 0px
        }

        #news-title {
            font-family: "Poppins";
            color: #585858;
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            margin-top: 0px;
            margin-left: 0px;
        }

        .news-content {
            columns: 3;
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 300;
            line-height: 13px;
            padding-top: 0px;
            margin-top: -10px;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            height: 220px;
            text-align: justify;
            border: solid;
            border-color: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.15);

        }

        .lg-box-3-div {
            background-color: rgba(255, 255, 255, 0.253);
            width: 816px;
            height: 288px;
            position: absolute;
            top: 720px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center
        }

        .footer-div {
            background-color: rgb(255, 255, 255);
            width: 816px;
            height: 48px;
            position: absolute;
            top: 1008px;
            left: 0px;
            display: flex;
            align-content: center;
            justify-content: center;
            margin-bottom: 30px
        }

        .logo {
            max-height: 35px;
            object-fit: contain;
        }

        .my-icon {
            width: 30px;
            height: 30px;
            object-fit: contain;
            position: absolute;
        }

        .data-label {
            font-family: poppins;
            position: absolute;
            font-size: 20px;
            font-weight: 300
        }

        .data-value {
            width: 90;
            height: 18;
            background-color: rgb(128, 126, 0);
            font-family: poppins;
            align-self: top;
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            justify-content: left
        }
    </style>

</head>



<html>

<body>
    <div class="main-page-div"></div>
    <div class="title-square-div">
        <p class="daily">Daily</p>
        <p class="report">Report</p>
        <p class="title-day">{{d01_day}}</p>
        <p class="title-date">{{d01_date}}</p>
    </div>
    <div class="weather-bar-div">
        <img class="my-icon" , style="top:18;left:5" ,
            src="http://www.b2results.com/wp-includes/images/mydailypdf/lg-sun-icon.png">
        <p class="weather-data-label" style="top:5;left:40">rise</p>
        <p class="weather-data-value" style="top:10;left:40">{{d02_sunrise_time}}</p>
        <p class="weather-data-label" style="top:5;left:115">set</p>
        <p class="weather-data-value" style="top:10;left:115">{{d02_sunset_time}}</p>
        <img class="my-icon" , style="top:18;left:200" ,
            src="http://www.b2results.com/wp-includes/images/mydailypdf/temperature-icon.png">
        <p class="weather-data-label" style="top:5;left:230">high</p>
        <p class="weather-data-value" style="top:10;left:230">{{d02_temp_high}}</p>
        <p class="weather-data-label" style="top:5;left:275">low</p>
        <p class="weather-data-value" style="top:10;left:275">{{d02_temp_low}}</p>
        <div id="weather-string-div">
            <p id="weather-string">{{d02_weather_string}}</p>
        </div>
    </div>
    <div class="quote-bar-div">

        <p id="quote-string">{{d03_quote_text}}</p>
        <p id="author-string">
            <break></break>{{d03_quote_author}}
        </p>

    </div>
    <div class="lg-box-1-div">
        {{#if d04_lg1_type.twitter}}
        <div class="lg-twi-div">
            <p id="twi-title">{{d04_lg1_data.title}}</p>
            <table class="twi-table">
                <thead>
                    <tr>
                        <th id="author-string" ,
                            style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">username
                        </th>
                        <th id="author-string">followers</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                        <th id="author-string">following</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                        <th id="author-string">posts</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{d04_lg1_data.u1_username}}</td>
                        <td>{{d04_lg1_data.u1_followers_today}}</td>
                        <td>{{d04_lg1_data.u1_followers_1d}}</td>
                        <td>{{d04_lg1_data.u1_followers_7d}}</td>
                        <td>{{d04_lg1_data.u1_followers_30d}}</td>
                        <td>{{d04_lg1_data.u1_following_today}}</td>
                        <td>{{d04_lg1_data.u1_following_1d}}</td>
                        <td>{{d04_lg1_data.u1_following_7d}}</td>
                        <td>{{d04_lg1_data.u1_following_30d}}</td>
                        <td>{{d04_lg1_data.u1_posts_today}}</td>
                        <td>{{d04_lg1_data.u1_posts_1d}}</td>
                        <td>{{d04_lg1_data.u1_posts_7d}}</td>
                        <td>{{u1_posts_30d}}?</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u2_username}}</td>
                        <td>{{d04_lg1_data.u2_followers_today}}</td>
                        <td>{{d04_lg1_data.u2_followers_1d}}</td>
                        <td>{{d04_lg1_data.u2_followers_7d}}</td>
                        <td>{{d04_lg1_data.u2_followers_30d}}</td>
                        <td>{{d04_lg1_data.u2_following_today}}</td>
                        <td>{{d04_lg1_data.u2_following_1d}}</td>
                        <td>{{d04_lg1_data.u2_following_7d}}</td>
                        <td>{{d04_lg1_data.u2_following_30d}}</td>
                        <td>{{d04_lg1_data.u2_posts_today}}</td>
                        <td>{{d04_lg1_data.u2_posts_1d}}</td>
                        <td>{{d04_lg1_data.u2_posts_7d}}</td>
                        <td>{{d04_lg1_data.u2_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u3_username}}</td>
                        <td>{{d04_lg1_data.u3_followers_today}}</td>
                        <td>{{d04_lg1_data.u3_followers_1d}}</td>
                        <td>{{d04_lg1_data.u3_followers_7d}}</td>
                        <td>{{d04_lg1_data.u3_followers_30d}}</td>
                        <td>{{d04_lg1_data.u3_following_today}}</td>
                        <td>{{d04_lg1_data.u3_following_1d}}</td>
                        <td>{{d04_lg1_data.u3_following_7d}}</td>
                        <td>{{d04_lg1_data.u3_following_30d}}</td>
                        <td>{{d04_lg1_data.u3_posts_today}}</td>
                        <td>{{d04_lg1_data.u3_posts_1d}}</td>
                        <td>{{d04_lg1_data.u3_posts_7d}}</td>
                        <td>{{d04_lg1_data.u3_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u4_username}}</td>
                        <td>{{d04_lg1_data.u4_followers_today}}</td>
                        <td>{{d04_lg1_data.u4_followers_1d}}</td>
                        <td>{{d04_lg1_data.u4_followers_7d}}</td>
                        <td>{{d04_lg1_data.u4_followers_30d}}</td>
                        <td>{{d04_lg1_data.u4_following_today}}</td>
                        <td>{{d04_lg1_data.u4_following_1d}}</td>
                        <td>{{d04_lg1_data.u4_following_7d}}</td>
                        <td>{{d04_lg1_data.u4_following_30d}}</td>
                        <td>{{d04_lg1_data.u4_posts_today}}</td>
                        <td>{{d04_lg1_data.u4_posts_1d}}</td>
                        <td>{{d04_lg1_data.u4_posts_7d}}</td>
                        <td>{{d04_lg1_data.u4_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u5_username}}</td>
                        <td>{{d04_lg1_data.u5_followers_today}}</td>
                        <td>{{d04_lg1_data.u5_followers_1d}}</td>
                        <td>{{d04_lg1_data.u5_followers_7d}}</td>
                        <td>{{d04_lg1_data.u5_followers_30d}}</td>
                        <td>{{d04_lg1_data.u5_following_today}}</td>
                        <td>{{d04_lg1_data.u5_following_1d}}</td>
                        <td>{{d04_lg1_data.u5_following_7d}}</td>
                        <td>{{d04_lg1_data.u5_following_30d}}</td>
                        <td>{{d04_lg1_data.u5_posts_today}}</td>
                        <td>{{d04_lg1_data.u5_posts_1d}}</td>
                        <td>{{d04_lg1_data.u5_posts_7d}}</td>
                        <td>{{d04_lg1_data.u5_posts_30d}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if d04_lg1_type.instagram}}
        <div class="lg-twi-div">
            <p id="twi-title">{{d04_lg1_data.title}}</p>
            <table class="twi-table">
                <thead>
                    <tr>
                        <th id="author-string" ,
                            style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">username
                        </th>
                        <th id="author-string">followers</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                        <th id="author-string">following</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                        <th id="author-string">posts</th>
                        <th id="author-string" , style="background-color:lightgray">1-day</th>
                        <th id="author-string" , style="background-color:lightgray">7-day</th>
                        <th id="author-string" , style="background-color:lightgray">30-day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{d04_lg1_data.u1_username}}</td>
                        <td>{{d04_lg1_data.u1_followers_today}}</td>
                        <td>{{d04_lg1_data.u1_followers_1d}}</td>
                        <td>{{d04_lg1_data.u1_followers_7d}}</td>
                        <td>{{d04_lg1_data.u1_followers_30d}}</td>
                        <td>{{d04_lg1_data.u1_following_today}}</td>
                        <td>{{d04_lg1_data.u1_following_1d}}</td>
                        <td>{{d04_lg1_data.u1_following_7d}}</td>
                        <td>{{d04_lg1_data.u1_following_30d}}</td>
                        <td>{{d04_lg1_data.u1_posts_today}}</td>
                        <td>{{d04_lg1_data.u1_posts_1d}}</td>
                        <td>{{d04_lg1_data.u1_posts_7d}}</td>
                        <td>{{u1_posts_30d}}?</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u2_username}}</td>
                        <td>{{d04_lg1_data.u2_followers_today}}</td>
                        <td>{{d04_lg1_data.u2_followers_1d}}</td>
                        <td>{{d04_lg1_data.u2_followers_7d}}</td>
                        <td>{{d04_lg1_data.u2_followers_30d}}</td>
                        <td>{{d04_lg1_data.u2_following_today}}</td>
                        <td>{{d04_lg1_data.u2_following_1d}}</td>
                        <td>{{d04_lg1_data.u2_following_7d}}</td>
                        <td>{{d04_lg1_data.u2_following_30d}}</td>
                        <td>{{d04_lg1_data.u2_posts_today}}</td>
                        <td>{{d04_lg1_data.u2_posts_1d}}</td>
                        <td>{{d04_lg1_data.u2_posts_7d}}</td>
                        <td>{{d04_lg1_data.u2_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u3_username}}</td>
                        <td>{{d04_lg1_data.u3_followers_today}}</td>
                        <td>{{d04_lg1_data.u3_followers_1d}}</td>
                        <td>{{d04_lg1_data.u3_followers_7d}}</td>
                        <td>{{d04_lg1_data.u3_followers_30d}}</td>
                        <td>{{d04_lg1_data.u3_following_today}}</td>
                        <td>{{d04_lg1_data.u3_following_1d}}</td>
                        <td>{{d04_lg1_data.u3_following_7d}}</td>
                        <td>{{d04_lg1_data.u3_following_30d}}</td>
                        <td>{{d04_lg1_data.u3_posts_today}}</td>
                        <td>{{d04_lg1_data.u3_posts_1d}}</td>
                        <td>{{d04_lg1_data.u3_posts_7d}}</td>
                        <td>{{d04_lg1_data.u3_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u4_username}}</td>
                        <td>{{d04_lg1_data.u4_followers_today}}</td>
                        <td>{{d04_lg1_data.u4_followers_1d}}</td>
                        <td>{{d04_lg1_data.u4_followers_7d}}</td>
                        <td>{{d04_lg1_data.u4_followers_30d}}</td>
                        <td>{{d04_lg1_data.u4_following_today}}</td>
                        <td>{{d04_lg1_data.u4_following_1d}}</td>
                        <td>{{d04_lg1_data.u4_following_7d}}</td>
                        <td>{{d04_lg1_data.u4_following_30d}}</td>
                        <td>{{d04_lg1_data.u4_posts_today}}</td>
                        <td>{{d04_lg1_data.u4_posts_1d}}</td>
                        <td>{{d04_lg1_data.u4_posts_7d}}</td>
                        <td>{{d04_lg1_data.u4_posts_30d}}</td>
                    </tr>
                    <tr>
                        <td>{{d04_lg1_data.u5_username}}</td>
                        <td>{{d04_lg1_data.u5_followers_today}}</td>
                        <td>{{d04_lg1_data.u5_followers_1d}}</td>
                        <td>{{d04_lg1_data.u5_followers_7d}}</td>
                        <td>{{d04_lg1_data.u5_followers_30d}}</td>
                        <td>{{d04_lg1_data.u5_following_today}}</td>
                        <td>{{d04_lg1_data.u5_following_1d}}</td>
                        <td>{{d04_lg1_data.u5_following_7d}}</td>
                        <td>{{d04_lg1_data.u5_following_30d}}</td>
                        <td>{{d04_lg1_data.u5_posts_today}}</td>
                        <td>{{d04_lg1_data.u5_posts_1d}}</td>
                        <td>{{d04_lg1_data.u5_posts_7d}}</td>
                        <td>{{d04_lg1_data.u5_posts_30d}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if d04_lg1_type.news}}
        <div class="lg-news-div">
            <p id="news-title">{{d04_lg1_data.news-title}}</p>
            <div class="news-content">{{d04_lg1_data.news-content}}
            </div>
            {{/if}}
        </div>
        <div class="lg-box-2-div">
            {{#if d05_lg2_type.twitter}}
            <div class="lg-twi-div">
                <p id="twi-title">{{d05_lg2_data.title}}</p>
                <table class="twi-table">
                    <thead>
                        <tr>
                            <th id="author-string" ,
                                style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">username
                            </th>
                            <th id="author-string">followers</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                            <th id="author-string">following</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                            <th id="author-string">posts</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{d05_lg2_data.u1_username}}</td>
                            <td>{{d05_lg2_data.u1_followers_today}}</td>
                            <td>{{d05_lg2_data.u1_followers_1d}}</td>
                            <td>{{d05_lg2_data.u1_followers_7d}}</td>
                            <td>{{d05_lg2_data.u1_followers_30d}}</td>
                            <td>{{d05_lg2_data.u1_following_today}}</td>
                            <td>{{d05_lg2_data.u1_following_1d}}</td>
                            <td>{{d05_lg2_data.u1_following_7d}}</td>
                            <td>{{d05_lg2_data.u1_following_30d}}</td>
                            <td>{{d05_lg2_data.u1_posts_today}}</td>
                            <td>{{d05_lg2_data.u1_posts_1d}}</td>
                            <td>{{d05_lg2_data.u1_posts_7d}}</td>
                            <td>{{d05_lg2_data.u1_posts_30d}}?</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u2_username}}</td>
                            <td>{{d05_lg2_data.u2_followers_today}}</td>
                            <td>{{d05_lg2_data.u2_followers_1d}}</td>
                            <td>{{d05_lg2_data.u2_followers_7d}}</td>
                            <td>{{d05_lg2_data.u2_followers_30d}}</td>
                            <td>{{d05_lg2_data.u2_following_today}}</td>
                            <td>{{d05_lg2_data.u2_following_1d}}</td>
                            <td>{{d05_lg2_data.u2_following_7d}}</td>
                            <td>{{d05_lg2_data.u2_following_30d}}</td>
                            <td>{{d05_lg2_data.u2_posts_today}}</td>
                            <td>{{d05_lg2_data.u2_posts_1d}}</td>
                            <td>{{d05_lg2_data.u2_posts_7d}}</td>
                            <td>{{d05_lg2_data.u2_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u3_username}}</td>
                            <td>{{d05_lg2_data.u3_followers_today}}</td>
                            <td>{{d05_lg2_data.u3_followers_1d}}</td>
                            <td>{{d05_lg2_data.u3_followers_7d}}</td>
                            <td>{{d05_lg2_data.u3_followers_30d}}</td>
                            <td>{{d05_lg2_data.u3_following_today}}</td>
                            <td>{{d05_lg2_data.u3_following_1d}}</td>
                            <td>{{d05_lg2_data.u3_following_7d}}</td>
                            <td>{{d05_lg2_data.u3_following_30d}}</td>
                            <td>{{d05_lg2_data.u3_posts_today}}</td>
                            <td>{{d05_lg2_data.u3_posts_1d}}</td>
                            <td>{{d05_lg2_data.u3_posts_7d}}</td>
                            <td>{{d05_lg2_data.u3_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u4_username}}</td>
                            <td>{{d05_lg2_data.u4_followers_today}}</td>
                            <td>{{d05_lg2_data.u4_followers_1d}}</td>
                            <td>{{d05_lg2_data.u4_followers_7d}}</td>
                            <td>{{d05_lg2_data.u4_followers_30d}}</td>
                            <td>{{d05_lg2_data.u4_following_today}}</td>
                            <td>{{d05_lg2_data.u4_following_1d}}</td>
                            <td>{{d05_lg2_data.u4_following_7d}}</td>
                            <td>{{d05_lg2_data.u4_following_30d}}</td>
                            <td>{{d05_lg2_data.u4_posts_today}}</td>
                            <td>{{d05_lg2_data.u4_posts_1d}}</td>
                            <td>{{d05_lg2_data.u4_posts_7d}}</td>
                            <td>{{d05_lg2_data.u4_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u5_username}}</td>
                            <td>{{d05_lg2_data.u5_followers_today}}</td>
                            <td>{{d05_lg2_data.u5_followers_1d}}</td>
                            <td>{{d05_lg2_data.u5_followers_7d}}</td>
                            <td>{{d05_lg2_data.u5_followers_30d}}</td>
                            <td>{{d05_lg2_data.u5_following_today}}</td>
                            <td>{{d05_lg2_data.u5_following_1d}}</td>
                            <td>{{d05_lg2_data.u5_following_7d}}</td>
                            <td>{{d05_lg2_data.u5_following_30d}}</td>
                            <td>{{d05_lg2_data.u5_posts_today}}</td>
                            <td>{{d05_lg2_data.u5_posts_1d}}</td>
                            <td>{{d05_lg2_data.u5_posts_7d}}</td>
                            <td>{{d05_lg2_data.u5_posts_30d}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{/if}}
            {{#if d05_lg2_type.instagram}}
            <div class="lg-twi-div">
                <p id="twi-title">{{d05_lg2_data.title}}</p>
                <table class="twi-table">
                    <thead>
                        <tr>
                            <th id="author-string" ,
                                style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">username
                            </th>
                            <th id="author-string">followers</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                            <th id="author-string">following</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                            <th id="author-string">posts</th>
                            <th id="author-string" , style="background-color:lightgray">1-day</th>
                            <th id="author-string" , style="background-color:lightgray">7-day</th>
                            <th id="author-string" , style="background-color:lightgray">30-day</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{d05_lg2_data.u1_username}}</td>
                            <td>{{d05_lg2_data.u1_followers_today}}</td>
                            <td>{{d05_lg2_data.u1_followers_1d}}</td>
                            <td>{{d05_lg2_data.u1_followers_7d}}</td>
                            <td>{{d05_lg2_data.u1_followers_30d}}</td>
                            <td>{{d05_lg2_data.u1_following_today}}</td>
                            <td>{{d05_lg2_data.u1_following_1d}}</td>
                            <td>{{d05_lg2_data.u1_following_7d}}</td>
                            <td>{{d05_lg2_data.u1_following_30d}}</td>
                            <td>{{d05_lg2_data.u1_posts_today}}</td>
                            <td>{{d05_lg2_data.u1_posts_1d}}</td>
                            <td>{{d05_lg2_data.u1_posts_7d}}</td>
                            <td>{{d05_lg2_data.u1_posts_30d}}?</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u2_username}}</td>
                            <td>{{d05_lg2_data.u2_followers_today}}</td>
                            <td>{{d05_lg2_data.u2_followers_1d}}</td>
                            <td>{{d05_lg2_data.u2_followers_7d}}</td>
                            <td>{{d05_lg2_data.u2_followers_30d}}</td>
                            <td>{{d05_lg2_data.u2_following_today}}</td>
                            <td>{{d05_lg2_data.u2_following_1d}}</td>
                            <td>{{d05_lg2_data.u2_following_7d}}</td>
                            <td>{{d05_lg2_data.u2_following_30d}}</td>
                            <td>{{d05_lg2_data.u2_posts_today}}</td>
                            <td>{{d05_lg2_data.u2_posts_1d}}</td>
                            <td>{{d05_lg2_data.u2_posts_7d}}</td>
                            <td>{{d05_lg2_data.u2_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u3_username}}</td>
                            <td>{{d05_lg2_data.u3_followers_today}}</td>
                            <td>{{d05_lg2_data.u3_followers_1d}}</td>
                            <td>{{d05_lg2_data.u3_followers_7d}}</td>
                            <td>{{d05_lg2_data.u3_followers_30d}}</td>
                            <td>{{d05_lg2_data.u3_following_today}}</td>
                            <td>{{d05_lg2_data.u3_following_1d}}</td>
                            <td>{{d05_lg2_data.u3_following_7d}}</td>
                            <td>{{d05_lg2_data.u3_following_30d}}</td>
                            <td>{{d05_lg2_data.u3_posts_today}}</td>
                            <td>{{d05_lg2_data.u3_posts_1d}}</td>
                            <td>{{d05_lg2_data.u3_posts_7d}}</td>
                            <td>{{d05_lg2_data.u3_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u4_username}}</td>
                            <td>{{d05_lg2_data.u4_followers_today}}</td>
                            <td>{{d05_lg2_data.u4_followers_1d}}</td>
                            <td>{{d05_lg2_data.u4_followers_7d}}</td>
                            <td>{{d05_lg2_data.u4_followers_30d}}</td>
                            <td>{{d05_lg2_data.u4_following_today}}</td>
                            <td>{{d05_lg2_data.u4_following_1d}}</td>
                            <td>{{d05_lg2_data.u4_following_7d}}</td>
                            <td>{{d05_lg2_data.u4_following_30d}}</td>
                            <td>{{d05_lg2_data.u4_posts_today}}</td>
                            <td>{{d05_lg2_data.u4_posts_1d}}</td>
                            <td>{{d05_lg2_data.u4_posts_7d}}</td>
                            <td>{{d05_lg2_data.u4_posts_30d}}</td>
                        </tr>
                        <tr>
                            <td>{{d05_lg2_data.u5_username}}</td>
                            <td>{{d05_lg2_data.u5_followers_today}}</td>
                            <td>{{d05_lg2_data.u5_followers_1d}}</td>
                            <td>{{d05_lg2_data.u5_followers_7d}}</td>
                            <td>{{d05_lg2_data.u5_followers_30d}}</td>
                            <td>{{d05_lg2_data.u5_following_today}}</td>
                            <td>{{d05_lg2_data.u5_following_1d}}</td>
                            <td>{{d05_lg2_data.u5_following_7d}}</td>
                            <td>{{d05_lg2_data.u5_following_30d}}</td>
                            <td>{{d05_lg2_data.u5_posts_today}}</td>
                            <td>{{d05_lg2_data.u5_posts_1d}}</td>
                            <td>{{d05_lg2_data.u5_posts_7d}}</td>
                            <td>{{d05_lg2_data.u5_posts_30d}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{/if}}
            {{#if d05_lg2_type.news}}
            <div class="lg-news-div">
                <p id="news-title">{{d05_lg2_data.news-title}}</p>
                <div class="news-content">{{d05_lg2_data.news-content}}
                </div>
                {{/if}}
            </div>
            <div class="lg-box-3-div">
                {{#if d06_lg3_type.twitter}}
                <div class="lg-twi-div">
                    <p id="twi-title">{{d06_lg3_data.title}}</p>
                    <table class="twi-table">
                        <thead>
                            <tr>
                                <th id="author-string" ,
                                    style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">
                                    username
                                </th>
                                <th id="author-string">followers</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                                <th id="author-string">following</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                                <th id="author-string">posts</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{d06_lg3_data.u1_username}}</td>
                                <td>{{d06_lg3_data.u1_followers_today}}</td>
                                <td>{{d06_lg3_data.u1_followers_1d}}</td>
                                <td>{{d06_lg3_data.u1_followers_7d}}</td>
                                <td>{{d06_lg3_data.u1_followers_30d}}</td>
                                <td>{{d06_lg3_data.u1_following_today}}</td>
                                <td>{{d06_lg3_data.u1_following_1d}}</td>
                                <td>{{d06_lg3_data.u1_following_7d}}</td>
                                <td>{{d06_lg3_data.u1_following_30d}}</td>
                                <td>{{d06_lg3_data.u1_posts_today}}</td>
                                <td>{{d06_lg3_data.u1_posts_1d}}</td>
                                <td>{{d06_lg3_data.u1_posts_7d}}</td>
                                <td>{{d06_lg3_data.u1_posts_30d}}?</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u2_username}}</td>
                                <td>{{d06_lg3_data.u2_followers_today}}</td>
                                <td>{{d06_lg3_data.u2_followers_1d}}</td>
                                <td>{{d06_lg3_data.u2_followers_7d}}</td>
                                <td>{{d06_lg3_data.u2_followers_30d}}</td>
                                <td>{{d06_lg3_data.u2_following_today}}</td>
                                <td>{{d06_lg3_data.u2_following_1d}}</td>
                                <td>{{d06_lg3_data.u2_following_7d}}</td>
                                <td>{{d06_lg3_data.u2_following_30d}}</td>
                                <td>{{d06_lg3_data.u2_posts_today}}</td>
                                <td>{{d06_lg3_data.u2_posts_1d}}</td>
                                <td>{{d06_lg3_data.u2_posts_7d}}</td>
                                <td>{{d06_lg3_data.u2_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u3_username}}</td>
                                <td>{{d06_lg3_data.u3_followers_today}}</td>
                                <td>{{d06_lg3_data.u3_followers_1d}}</td>
                                <td>{{d06_lg3_data.u3_followers_7d}}</td>
                                <td>{{d06_lg3_data.u3_followers_30d}}</td>
                                <td>{{d06_lg3_data.u3_following_today}}</td>
                                <td>{{d06_lg3_data.u3_following_1d}}</td>
                                <td>{{d06_lg3_data.u3_following_7d}}</td>
                                <td>{{d06_lg3_data.u3_following_30d}}</td>
                                <td>{{d06_lg3_data.u3_posts_today}}</td>
                                <td>{{d06_lg3_data.u3_posts_1d}}</td>
                                <td>{{d06_lg3_data.u3_posts_7d}}</td>
                                <td>{{d06_lg3_data.u3_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u4_username}}</td>
                                <td>{{d06_lg3_data.u4_followers_today}}</td>
                                <td>{{d06_lg3_data.u4_followers_1d}}</td>
                                <td>{{d06_lg3_data.u4_followers_7d}}</td>
                                <td>{{d06_lg3_data.u4_followers_30d}}</td>
                                <td>{{d06_lg3_data.u4_following_today}}</td>
                                <td>{{d06_lg3_data.u4_following_1d}}</td>
                                <td>{{d06_lg3_data.u4_following_7d}}</td>
                                <td>{{d06_lg3_data.u4_following_30d}}</td>
                                <td>{{d06_lg3_data.u4_posts_today}}</td>
                                <td>{{d06_lg3_data.u4_posts_1d}}</td>
                                <td>{{d06_lg3_data.u4_posts_7d}}</td>
                                <td>{{d06_lg3_data.u4_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u5_username}}</td>
                                <td>{{d06_lg3_data.u5_followers_today}}</td>
                                <td>{{d06_lg3_data.u5_followers_1d}}</td>
                                <td>{{d06_lg3_data.u5_followers_7d}}</td>
                                <td>{{d06_lg3_data.u5_followers_30d}}</td>
                                <td>{{d06_lg3_data.u5_following_today}}</td>
                                <td>{{d06_lg3_data.u5_following_1d}}</td>
                                <td>{{d06_lg3_data.u5_following_7d}}</td>
                                <td>{{d06_lg3_data.u5_following_30d}}</td>
                                <td>{{d06_lg3_data.u5_posts_today}}</td>
                                <td>{{d06_lg3_data.u5_posts_1d}}</td>
                                <td>{{d06_lg3_data.u5_posts_7d}}</td>
                                <td>{{d06_lg3_data.u5_posts_30d}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{/if}}
                {{#if d06_lg3_type.instagram}}
                <div class="lg-twi-div">
                    <p id="twi-title">{{d06_lg3_data.title}}</p>
                    <table class="twi-table">
                        <thead>
                            <tr>
                                <th id="author-string" ,
                                    style="background-color:rgb(170, 170, 170); text-align:left; font-weight:700">
                                    username
                                </th>
                                <th id="author-string">followers</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                                <th id="author-string">following</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                                <th id="author-string">posts</th>
                                <th id="author-string" , style="background-color:lightgray">1-day</th>
                                <th id="author-string" , style="background-color:lightgray">7-day</th>
                                <th id="author-string" , style="background-color:lightgray">30-day</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{d06_lg3_data.u1_username}}</td>
                                <td>{{d06_lg3_data.u1_followers_today}}</td>
                                <td>{{d06_lg3_data.u1_followers_1d}}</td>
                                <td>{{d06_lg3_data.u1_followers_7d}}</td>
                                <td>{{d06_lg3_data.u1_followers_30d}}</td>
                                <td>{{d06_lg3_data.u1_following_today}}</td>
                                <td>{{d06_lg3_data.u1_following_1d}}</td>
                                <td>{{d06_lg3_data.u1_following_7d}}</td>
                                <td>{{d06_lg3_data.u1_following_30d}}</td>
                                <td>{{d06_lg3_data.u1_posts_today}}</td>
                                <td>{{d06_lg3_data.u1_posts_1d}}</td>
                                <td>{{d06_lg3_data.u1_posts_7d}}</td>
                                <td>{{d06_lg3_data.u1_posts_30d}}?</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u2_username}}</td>
                                <td>{{d06_lg3_data.u2_followers_today}}</td>
                                <td>{{d06_lg3_data.u2_followers_1d}}</td>
                                <td>{{d06_lg3_data.u2_followers_7d}}</td>
                                <td>{{d06_lg3_data.u2_followers_30d}}</td>
                                <td>{{d06_lg3_data.u2_following_today}}</td>
                                <td>{{d06_lg3_data.u2_following_1d}}</td>
                                <td>{{d06_lg3_data.u2_following_7d}}</td>
                                <td>{{d06_lg3_data.u2_following_30d}}</td>
                                <td>{{d06_lg3_data.u2_posts_today}}</td>
                                <td>{{d06_lg3_data.u2_posts_1d}}</td>
                                <td>{{d06_lg3_data.u2_posts_7d}}</td>
                                <td>{{d06_lg3_data.u2_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u3_username}}</td>
                                <td>{{d06_lg3_data.u3_followers_today}}</td>
                                <td>{{d06_lg3_data.u3_followers_1d}}</td>
                                <td>{{d06_lg3_data.u3_followers_7d}}</td>
                                <td>{{d06_lg3_data.u3_followers_30d}}</td>
                                <td>{{d06_lg3_data.u3_following_today}}</td>
                                <td>{{d06_lg3_data.u3_following_1d}}</td>
                                <td>{{d06_lg3_data.u3_following_7d}}</td>
                                <td>{{d06_lg3_data.u3_following_30d}}</td>
                                <td>{{d06_lg3_data.u3_posts_today}}</td>
                                <td>{{d06_lg3_data.u3_posts_1d}}</td>
                                <td>{{d06_lg3_data.u3_posts_7d}}</td>
                                <td>{{d06_lg3_data.u3_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u4_username}}</td>
                                <td>{{d06_lg3_data.u4_followers_today}}</td>
                                <td>{{d06_lg3_data.u4_followers_1d}}</td>
                                <td>{{d06_lg3_data.u4_followers_7d}}</td>
                                <td>{{d06_lg3_data.u4_followers_30d}}</td>
                                <td>{{d06_lg3_data.u4_following_today}}</td>
                                <td>{{d06_lg3_data.u4_following_1d}}</td>
                                <td>{{d06_lg3_data.u4_following_7d}}</td>
                                <td>{{d06_lg3_data.u4_following_30d}}</td>
                                <td>{{d06_lg3_data.u4_posts_today}}</td>
                                <td>{{d06_lg3_data.u4_posts_1d}}</td>
                                <td>{{d06_lg3_data.u4_posts_7d}}</td>
                                <td>{{d06_lg3_data.u4_posts_30d}}</td>
                            </tr>
                            <tr>
                                <td>{{d06_lg3_data.u5_username}}</td>
                                <td>{{d06_lg3_data.u5_followers_today}}</td>
                                <td>{{d06_lg3_data.u5_followers_1d}}</td>
                                <td>{{d06_lg3_data.u5_followers_7d}}</td>
                                <td>{{d06_lg3_data.u5_followers_30d}}</td>
                                <td>{{d06_lg3_data.u5_following_today}}</td>
                                <td>{{d06_lg3_data.u5_following_1d}}</td>
                                <td>{{d06_lg3_data.u5_following_7d}}</td>
                                <td>{{d06_lg3_data.u5_following_30d}}</td>
                                <td>{{d06_lg3_data.u5_posts_today}}</td>
                                <td>{{d06_lg3_data.u5_posts_1d}}</td>
                                <td>{{d06_lg3_data.u5_posts_7d}}</td>
                                <td>{{d06_lg3_data.u5_posts_30d}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{/if}}
                {{#if d06_lg3_type.news}}
                <div class="lg-news-div">
                    <p id="news-title">{{d06_lg3_data.news-title}}</p>
                    <div class="news-content">{{d06_lg3_data.news-content}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="footer-div">
                <img class="logo" , src="http://www.b2results.com/wp-includes/images/mydailypdf/main-logo-white.png" ,
                    alt="alt text">
            </div>
</body>

</html>